@font-face {
    font-family: 'aroma';
    src: url('fonts/AROMA-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'qontra' ;
    src: url(fonts/Qontra.otf);
    font-style: normal;
}

@font-face {
    font-family: 'inkfree';
    src: url(fonts/Inkfree.ttf);
    font-style: normal;
}

h1 {
    font-family: aroma;
    text-align: center;
    font-size: 3em;
}

.uno {
    font-family: qontra;
    font-size: 1em;
}

.dos {
    font-family: inkfree;
    font-size: 1em;
}
.encabezado {
    width: 100%;
    height: 50%;
    background-color: rgb(61, 8, 209);
    align-items: center;
    text-align: center;
    

}
 
.escudos {
width: 5%;
height: 5%;
}
  

.Contenido {
    width: 100%;
    height: 100%;
    display: table;
    margin: auto;
    top: 0;
    background-color: lightcoral;

}


.texto {
    width: 100%;
    height: 50%;
    font-family: qontra;
    font-size: 1.5em;
    text-align: center;
    }


.formulario {
    height: 40%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
    border-radius: 2px;
    padding: 0.5em;

}

.BtonEnviar {
    margin-left: auto;
    margin-right: auto; 
}

.footer {
    width: 100%;
    height: 20%;
    background-color: black;
    font-family: inkfree;
    font-style: bold;
    font-size: 1em;
    text-align: center;
    color: white;
}